<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>{{title}}</h1>

  <h2 appBasicHighlight>H2 - Basic highlight</h2>
  <p appBasicHighlight>paragraph - Basic highlight</p>

  <h2 appBetterHighlight>H2 - Better highlight</h2>
  <p appBetterHighlight>paragraph - Better highlight</p>

  <h2 appReactiveHighlight1>H2 - Reactive highlight 1</h2>
  <p appReactiveHighlight1>paragraph - Reactive highlight 1</p>

  <h2 appReactiveHighlight2>H2 - Reactive highlight 2</h2>
  <p appReactiveHighlight2>paragraph - Reactive highlight 2</p>

  <h2 appReactiveHighlight3>H2 - Reactive highlight 3 (Default colors)</h2>
  <p appReactiveHighlight3>paragraph - Reactive highlight 3 (Default colors)</p>

  <h2 appReactiveHighlight3 [defaultColor]="'lightgray'" [highlightColor]="'sandybrown'">H2 - Reactive highlight 3</h2>
  <p appReactiveHighlight3 [defaultColor]="'bisque'" [highlightColor]="'deepskyblue'">paragraph - Reactive highlight 3</p>
</div>
