<!--The whole content below can be removed with the new code.-->
<div>
  <h2>Customer Directives</h2>
  
  <h3 class="text-center">h3 - Basic highlight</h3>
  <p class="text-center" appBasicHighlight>paragraph - Basic highlight</p>

  <h3 class="text-center">h3 - Better highlight</h3>
  <p class="text-center">paragraph - Better highlight</p>

  <h3 class="text-center">h3 - Reactive highlight 1</h3>
  <p class="text-center">paragraph - Reactive highlight 1</p>

  <h3 class="text-center">h3 - Reactive highlight 2</h3>
  <p class="text-center">paragraph - Reactive highlight 2</p>

  <h3 class="text-center">h3 - Reactive highlight 3 (Default highlight colors)</h3>
  <p class="text-center">paragraph - Reactive highlight 3 (Default highlight colors)</p>
 
  <h3 class="text-center">h3 - Reactive highlight 3</h3>
  <p class="text-center">paragraph - Reactive highlight 3</p>
</div>
