<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>Products</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-5">
            <!-- Product List -->
            <app-product-list></app-product-list>
         </div>

        <div class="col-sm-7">
            <!-- Product Detail or Product Form component -->
            <!-- Based on user selection -->
            <router-outlet></router-outlet>
       </div>
    </div>
</div>
