<div class="well well-lg">
    
    <form #pf="ngForm" (ngSubmit)="onSubmit(pf)">
        <div>
            <div class="form-group">
                <label for="productName">Name</label>
                <input type="text" class="form-control" 
                    id="productName"
                    name="name"
                    [ngModel]="product.name"
                    required
                    minlength="3"
                    #name="ngModel">
                <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
                    <div *ngIf="name.errors.required">
                        Name is required.
                    </div>
                    <div *ngIf="name.errors.minlength">
                        Name should have at least 3 characters.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="productDescription">Description</label>
                <textarea class="form-control"
                    id="productDescription" 
                    cols="30" 
                    rows="4"
                    name="description"
                    [ngModel]="product.description">
                </textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="productPrice">Price</label>
            <input type="text" class="form-control" 
                id="productPrice"
                name="price"
                [ngModel]="product.price">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" 
                    id="isAvailable" 
                    value="true"
                    name="isAvailable"
                    [ngModel]="product.isAvailable"> Available
            </label>
        </div>
        <button 
            [disabled]="pf.invalid"
            name="save" 
            type="submit" 
            class="btn btn-primary">
            Save
        </button>
    </form>
</div>
<div class="alert alert-success" *ngIf="showMessage">
    Product saved successfully!
</div>
