/* You can add global styles to this file, and also import other style files */

.productsColor {
    color: blue;
}

.customersColor {
    color: green;
}

/* .form-control.ng-invalid.ng-touched {
    border-left: 5px solid red;
}

.form-control.ng-valid.ng-touched {
    border-left: 5px solid green;
}

.form-control.ng-pending.ng-touched {
    border-left: 5px solid orange;
} */
